<!DOCTYPE html>
<title>Journey | Reviews</title>
<html xmlns="http://www.w3.org/1999/html">
<link rel="icon" href="static/images/favicon.ico">
<link rel="shortcut icon" href="static/images/favicon.ico">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/slider.css">
<script src="static/js/jquery.js"></script>
<script src="static/js/jquery-migrate-1.1.1.js"></script>
<script src="static/js/superfish.js"></script>
<script src="static/js/sForm.js"></script>
<script src="static/js/jquery.jqtransform.js"></script>
<script src="static/js/jquery.equalheights.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>
<script src="static/js/tms-0.4.1.js"></script>
<script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="static/js/jquery.ui.totop.js"></script>
<script src="static/js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="static/css/ie.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body onload="x()">
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1><a href="/"><img src="static/images/logo.png" alt=""></a></h1>
    </div>

	<!--    Menu Block -->
    <div class="menu_block">
      <nav>
        <ul class="sf-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li  class="current"><a href="/tours">Tours</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!--Header Ends-->
<div class="main">
  <div class="content">
    <div class="container_12">
        <div class="grid_6">
            <img class="review-img" alt="Can't load" id="myImg" src="" style="margin-left:100px;">
        </div>
        <div class="grid_6">
            <div id="hname" align="" ></div>
            <div id="myval" align="" ></div>
            <h3 style="margin-top:30px; display:inline-block; font-size:26px;">Ratings :</h3>
            <img class="review-img" alt="Can't load" id="ratingImg" src="" style="display:inline-block; margin-top:40px;">
        </div>
    </div>

    <div class="container_12" style="display:inline-block; padding:20px; margin-top:80px; margin-left:150px;">
        <div class="grid_6">
            <h3 class="review-fonts">Visit Us..</h3>
            <img src="/static/images/right-arrow.gif" style="height:140px;width:140px;">
        </div>
        <div class="grid_6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.4568912777304!2d74.24809767432546!3d16.704039722132876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc1004651f06853%3A0x9200a5fb5bdfda75!2sSayaji%20Hotel!5e0!3m2!1sen!2sin!4v1685081201192!5m2!1sen!2sin" width="600" height="450"
                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="container_12" style="margin-top:80px; margin-left:150px;">
            <div class="review-ratings">
                <form method="post" action="/insert_csv">
                <div class="container">
                    <h3 class="review-fonts">Reviews and Ratings</h3>
                </div>
                <table width="90%" align="center">
                    <tr>
                     <td class="review-write">Write a Review </td>
                       <input type="hidden" name="nm" id="nm">
                     <td><input type="text" class="review-text-input" placeholder="Enter atleast 10 words  " name="reviews2" required></td>
                   </tr>

                   <tr>
                       <td></td>
                     <td><input class="btn-review-input" type="submit" name="Submit" value="Submit"></td>
                   </tr>
                </table>
                <br><br>
                <table class="review-table" id="csvTable" border="1" align="center">
                    <thead>
                      <tr class="active-row">
                        <th>Review</th>
                        <th>Ratings</th>

                      </tr>

                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                <hr style="border-right-width: 0px;margin-right: 110px;">
                <script>
                var nm1=""
                var nm2=""
                var nm3=""
                function x()
                {
                     paramString = window.location.href.split('?')[1];
                     queryString = new URLSearchParams(paramString);

                     console.log("Key is: " +queryString.get('name'));
                     console.log("Key is: " +queryString.get('cmp'));
                     console.log("Key is: " +queryString.get('hnm'));


               // for(let pair of queryString.entries())
                {
                  // console.log("Key is: " + pair[0]);
                   //


                   nm1=queryString.get('name');
                   nm2=queryString.get('cmp');
                   nm3=queryString.get('hnm');
                   console.log("Value is: " + nm1);

                   console.log("Value is: " + nm2);
                   console.log("Value is: " + nm3);
                   var imgu;
                       if(nm1=='keys')
                       {
                        document.getElementById("nm").value = 'keys';
                        imgu="http://localhost:8000/static/images/unnamed.jpg"

                        document.getElementById("myImg").src = imgu;
                         document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;


                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }

                        }
                        if(nm1=='barbeque')
                       {
                        document.getElementById("nm").value = 'barbeque';
                        imgu="http://localhost:8000/static/images/image.jpg"

                        document.getElementById("myImg").src = imgu;
                         document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;


                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }

                        }

                        if(nm1=='park')
                       {
                        document.getElementById("nm").value = 'park';
                        imgu="http://localhost:8000/static/images/park.jpg"
                        document.getElementById("myImg").src = imgu;
                         document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;


                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }

                        }

                        if(nm1=='chingari')
                       {
                        document.getElementById("nm").value = 'chingari';
                        imgu="http://localhost:8000/static/images/chingari-restaurant.jpg"

                        document.getElementById("myImg").src = imgu;
                         document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;


                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }

                        }
                        if(nm1=='venna')
                       {
                        document.getElementById("nm").value = 'venna';
                        imgu="http://localhost:8000/static/images/venna1.jpg"

                        document.getElementById("myImg").src = imgu;
                         document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;


                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }

                        }
                        if(nm1=='wilson')
                       {
                        document.getElementById("nm").value = 'wilson';
                        imgu="http://localhost:8000/static/images/wilson1.jpg"

                        document.getElementById("myImg").src = imgu;
                         document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;


                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }

                        }

                        if(nm1=='sayaji')
                       {

                        document.getElementById("nm").value = 'sayaji';
                        imgu="http://localhost:8000/static/images/sayaji_hotel.jpg"
                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }

                        }
                        if(nm1=='maratha')
                       {

                        document.getElementById("nm").value = 'maratha';

                        imgu="http://localhost:8000/static/images/maratha.jpg"

                        document.getElementById("myImg").src = imgu;
                       document.getElementById("hname").innerHTML=nm3;

                        }
                        if(nm1=='parakh')
                       {

                        document.getElementById("nm").value = 'parakh';

                        imgu="http://localhost:8000/static/images/parakh.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }
                        if(nm1=='tandoor')
                       {

                        document.getElementById("nm").value = 'tandoor';

                        imgu="http://localhost:8000/static/images/tandoor.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;
                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }
                        if(nm1=='mahalaxmi')
                       {

                        document.getElementById("nm").value = 'mahalaxmi';

                        imgu="http://localhost:8000/static/images/mahalakshi.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }
                        if(nm1=='newpalace')
                       {

                        document.getElementById("nm").value = 'newpalace';

                        imgu="http://localhost:8000/static/images/shahu.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;
                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }
                        if(nm1=='silverinn')
                       {

                        document.getElementById("nm").value = 'silverinn';

                        imgu="http://localhost:8000/static/images/mumbai-hotel1.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }
                        if(nm1=='jwhotel')
                       {

                        document.getElementById("nm").value = 'jwhotel';

                        imgu="http://localhost:8000/static/images/marroite.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }
                        if(nm1=='arbab')
                       {

                        document.getElementById("nm").value = 'arbab';

                        imgu="http://localhost:8000/static/images/arbab.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }

                        if(nm1=='cincin')
                       {

                        document.getElementById("nm").value = 'cincin';

                        imgu="http://localhost:8000/static/images/cincin.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }
                        if(nm1=='gateway')
                       {

                        document.getElementById("nm").value = 'gateway';

                        imgu="http://localhost:8000/static/images/gateway.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }

                        if(nm1=='bandrafort')
                       {

                        document.getElementById("nm").value = 'bandrafort';

                        imgu="http://localhost:8000/static/images/bandra.jpg"

                        document.getElementById("myImg").src = imgu;
                        document.getElementById("myval").innerHTML=nm2;
                        document.getElementById("hname").innerHTML=nm3;

                        if(nm2==1)
                        {
                        imgu1="http://localhost:8000/static/images/1star.png"
                        document.getElementById("ratingImg").src = imgu1;

                        }
                        else if(nm2==2)
                        {
                         imgu1="http://localhost:8000/static/images/2star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==3)
                        {
                         imgu1="http://localhost:8000/static/images/3star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==4)
                        {
                         imgu1="http://localhost:8000/static/images/4star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        else if(nm2==5)
                        {
                         imgu1="http://localhost:8000/static/images/5star.png"
                        document.getElementById("ratingImg").src = imgu1;
                        }
                        }
                }

                y();

                }
                function y()
                {
                // Read the CSV file using XMLHttpRequest

                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    // Parse the CSV data


                    var lines = this.responseText.split("\n");

                    //var headers = lines[0].split(",");
                    var data = [];


                    // Display the data in an HTML table
                    var table = document.getElementById("csvTable");
                    var tbody = table.getElementsByTagName("tbody")[0];
                    for (var i = 0; i < 10; i++) {
                      var tr = document.createElement("tr");
                      var td1 = document.createElement("td");
                      var td2 = document.createElement("td");
                       dat=lines[i].split(",");
                      td1.innerHTML = dat[0];
                      td2.innerHTML = dat[1];

                      tr.appendChild(td1);
                      tr.appendChild(td2);

                      tbody.appendChild(tr);
                    }
                  }
                };

                if(nm1=='keys')
                {

                xhr.open("GET", "/static/js/test.csv");

                xhr.send();
                }
                if(nm1=='park')
                {

                xhr.open("GET", "/static/js/parktest.csv");

                xhr.send();
                }
                if(nm1=='chingari')
                {

                xhr.open("GET", "/static/js/chingaritest.csv");

                xhr.send();
                }
                if(nm1=='barbeque')
                {

                xhr.open("GET", "/static/js/bbqtest.csv");

                xhr.send();
                }
                if(nm1=='wilson')
                {

                xhr.open("GET", "/static/js/wilsontest.csv");

                xhr.send();
                }
                if(nm1=='venna')
                {

                xhr.open("GET", "/static/js/vennatest.csv");

                xhr.send();
                }
                if(nm1=='sayaji')
                {

                xhr.open("GET", "/static/js/sayaji_test.csv");

                xhr.send();
                }
                if(nm1=='maratha')
                {

                xhr.open("GET", "/static/js/maratha_test.csv");

                xhr.send();
                }

                if(nm1=='parakh')
                {

                xhr.open("GET", "/static/js/parakhtest.csv");

                xhr.send();
                }
                if(nm1=='tandoor')
                {

                xhr.open("GET", "/static/js/tandoortest.csv");

                xhr.send();
                }
                if(nm1=='mahalaxmi')
                {

                xhr.open("GET", "/static/js/mahalaxmitest.csv");

                xhr.send();
                }
                if(nm1=='newpalace')
                {

                xhr.open("GET", "/static/js/newpalacetest.csv");

                xhr.send();
                }
                if(nm1=='silverinn')
                {

                xhr.open("GET", "/static/js/silverinntest.csv");

                xhr.send();
                }
                if(nm1=='jwhotel')
                {

                xhr.open("GET", "/static/js/jwhoteltest.csv");

                xhr.send();
                }
                if(nm1=='bandrafort')
                {

                xhr.open("GET", "/static/js/bandraforttest.csv");

                xhr.send();
                }
                if(nm1=='arbab')
                {

                xhr.open("GET", "/static/js/arbabtest.csv");

                xhr.send();
                }
                if(nm1=='cincin')
                {

                xhr.open("GET", "/static/js/cincintest.csv");

                xhr.send();
                }
                if(nm1=='gateway')
                {

                xhr.open("GET", "/static/js/gatewaytest.csv");

                xhr.send();
                }
                }
                </script>
            </form>
            </div>
    </div>
  </div>
<!--Footer-->
  <div class="bottom_block">
    <div class="container_12">
      <div class="grid_2 prefix_2">
        <ul>
          <li><a href="#">FAQS Page</a></li>
          <li><a href="#">People Say</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Useful links</a></li>
          <li><a href="#">Partners</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Insurance</a></li>
          <li><a href="#">Family Travel</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <h4>Contact Us:</h4>
        TEL: 1-800-234-5678<br>
        <a href="#">info@helptour.org</a> </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
</div>
<footer>
  <div class="container_12">
    <div class="grid_12">
      <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>

    </div>
    <div class="clear"></div>
  </div>
</footer>

</body>
</html>
