<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<link rel="icon" href="static/images/favicon.ico">
<link rel="shortcut icon" href="static/images/favicon.ico">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/slider.css">
<script src="static/js/jquery.js"></script>
<script src="static/js/jquery-migrate-1.1.1.js"></script>
<script src="static/js/superfish.js"></script>
<script src="static/js/sForm.js"></script>
<script src="static/js/jquery.jqtransform.js"></script>
<script src="static/js/jquery.equalheights.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>
<script src="static/js/tms-0.4.1.js"></script>
<script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="static/js/jquery.ui.totop.js"></script>
<script src="static/js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="static/css/ie.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body onload="x()">
<header>
  <div class="container_12">
    <div class="grid_12">
      <h1><a href="/"><img src="static/images/logo.png" alt=""></a></h1>
    </div>

	<!--    Menu Block -->
    <div class="menu_block">
      <nav>
        <ul class="sf-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li  class="current"><a href="/tours">Tours</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!--Header Ends-->
<div class="main">
  <div class="content">
    <div class="container_12">
            <img class="review-img"alt="Can't load" id="myImg" src="">
            <div class="review-ratings">
                <form method="post" style="border:1px solid #ccc" action="/insert_csv">
                <div class="container">
                    <h3>Reviews and Ratings</h3>
                </div>
                <table width="50%" border="1" align="center">
                    <tr>
                     <td>Write a Review </td>
                       <input type="hidden" name="nm" id="nm">
                     <td><input type="text" placeholder="Enter atleast 10 words  " name="reviews2" required></td>
                   </tr>

                   <tr>
                       <td>  </td>
                     <td><input type="submit" name="Submit" value="Submit"></td>
                   </tr>
                </table>
                <br><br>
                <table id="csvTable" border="1" align="center">
                    <thead>
                      <tr>
                        <th>Review</th>
                        <th>Ratings</th>

                      </tr>

                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                <hr>
                <script>
                var nm1=""

                function x()
                {
                     paramString = window.location.href.split('?')[1];
                     queryString = new URLSearchParams(paramString);
                for (let pair of queryString.entries())
                {
                   console.log("Key is: " + pair[0]);
                   console.log("Value is: " + pair[1]);
                   nm1=pair[1];
                   var imgu;
                       if(pair[1]=='keys')
                       {
                        document.getElementById("nm").value = 'keys';
                        imgu="http://localhost:8000/static/images/unnamed.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='barbeque')
                       {
                        document.getElementById("nm").value = 'barbeque';
                        imgu="http://localhost:8000/static/images/image.jpg"

                        document.getElementById("myImg").src = imgu;
                        }

                        if(pair[1]=='park')
                       {
                        document.getElementById("nm").value = 'park';
                        imgu="http://localhost:8000/static/images/park.jpg"
                        document.getElementById("myImg").src = imgu;
                        }

                        if(pair[1]=='chingari')
                       {
                        document.getElementById("nm").value = 'chingari';
                        imgu="http://localhost:8000/static/images/chingari-restaurant.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='venna')
                       {
                        document.getElementById("nm").value = 'venna';
                        imgu="http://localhost:8000/static/images/venna1.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='wilson')
                       {
                        document.getElementById("nm").value = 'wilson';
                        imgu="http://localhost:8000/static/images/wilson1.jpg"

                        document.getElementById("myImg").src = imgu;
                        }

                        if(pair[1]=='sayaji')
                       {

                        document.getElementById("nm").value = 'sayaji';

                        imgu="http://localhost:8000/static/images/sayaji_hotel.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='maratha')
                       {

                        document.getElementById("nm").value = 'maratha';

                        imgu="http://localhost:8000/static/images/maratha.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='parakh')
                       {

                        document.getElementById("nm").value = 'parakh';

                        imgu="http://localhost:8000/static/images/parakh.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='tandoor')
                       {

                        document.getElementById("nm").value = 'tandoor';

                        imgu="http://localhost:8000/static/images/tandoor.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='mahalaxmi')
                       {

                        document.getElementById("nm").value = 'mahalaxmi';

                        imgu="http://localhost:8000/static/images/mahalakshi.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='newpalace')
                       {

                        document.getElementById("nm").value = 'newpalace';

                        imgu="http://localhost:8000/static/images/shahu.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='silverinn')
                       {

                        document.getElementById("nm").value = 'silverinn';

                        imgu="http://localhost:8000/static/images/mumbai-hotel1.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='jwhotel')
                       {

                        document.getElementById("nm").value = 'jwhotel';

                        imgu="http://localhost:8000/static/images/marroite.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                        if(pair[1]=='bandrafort')
                       {

                        document.getElementById("nm").value = 'bandrafort';

                        imgu="http://localhost:8000/static/images/bandra.jpg"

                        document.getElementById("myImg").src = imgu;
                        }
                }

                y();

                }
                function y()
                {
                // Read the CSV file using XMLHttpRequest

                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    // Parse the CSV data


                    var lines = this.responseText.split("\n");

                    //var headers = lines[0].split(",");
                    var data = [];


                    // Display the data in an HTML table
                    var table = document.getElementById("csvTable");
                    var tbody = table.getElementsByTagName("tbody")[0];
                    for (var i = 0; i < 10; i++) {
                      var tr = document.createElement("tr");
                      var td1 = document.createElement("td");
                      var td2 = document.createElement("td");
                       dat=lines[i].split(",");
                      td1.innerHTML = dat[0];
                      td2.innerHTML = dat[1];

                      tr.appendChild(td1);
                      tr.appendChild(td2);

                      tbody.appendChild(tr);
                    }
                  }
                };

                if(nm1=='keys')
                {

                xhr.open("GET", "/static/js/test.csv");

                xhr.send();
                }
                if(nm1=='park')
                {

                xhr.open("GET", "/static/js/parktest.csv");

                xhr.send();
                }
                if(nm1=='chingari')
                {

                xhr.open("GET", "/static/js/chingaritest.csv");

                xhr.send();
                }
                if(nm1=='barbeque')
                {

                xhr.open("GET", "/static/js/bbqtest.csv");

                xhr.send();
                }
                if(nm1=='wilson')
                {

                xhr.open("GET", "/static/js/wilsontest.csv");

                xhr.send();
                }
                if(nm1=='venna')
                {

                xhr.open("GET", "/static/js/vennatest.csv");

                xhr.send();
                }
                if(nm1=='sayaji')
                {

                xhr.open("GET", "/static/js/sayaji_test.csv");

                xhr.send();
                }
                if(nm1=='maratha')
                {

                xhr.open("GET", "/static/js/maratha_test.csv");

                xhr.send();
                }

                if(nm1=='parakh')
                {

                xhr.open("GET", "/static/js/parakhtest.csv");

                xhr.send();
                }
                if(nm1=='tandoor')
                {

                xhr.open("GET", "/static/js/tandoortest.csv");

                xhr.send();
                }
                if(nm1=='mahalaxmi')
                {

                xhr.open("GET", "/static/js/mahalaxmitest.csv");

                xhr.send();
                }
                if(nm1=='newpalace')
                {

                xhr.open("GET", "/static/js/newpalacetest.csv");

                xhr.send();
                }
                if(nm1=='silverinn')
                {

                xhr.open("GET", "/static/js/silverinntest.csv");

                xhr.send();
                }
                if(nm1=='jwhotel')
                {

                xhr.open("GET", "/static/js/jwhoteltest.csv");

                xhr.send();
                }
                if(nm1=='bandrafort')
                {

                xhr.open("GET", "/static/js/bandraforttest.csv");

                xhr.send();
                }

                }
                </script>
            </form>
            </div>
    </div>
  </div>
<!--Footer-->
  <div class="bottom_block">
    <div class="container_12">
      <div class="grid_2 prefix_2">
        <ul>
          <li><a href="#">FAQS Page</a></li>
          <li><a href="#">People Say</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Useful links</a></li>
          <li><a href="#">Partners</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <ul>
          <li><a href="#">Insurance</a></li>
          <li><a href="#">Family Travel</a></li>
        </ul>
      </div>
      <div class="grid_2">
        <h4>Contact Us:</h4>
        TEL: 1-800-234-5678<br>
        <a href="#">info@helptour.org</a> </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
</div>
<footer>
  <div class="container_12">
    <div class="grid_12">
      <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>

    </div>
    <div class="clear"></div>
  </div>
</footer>

</body>
</html>
